<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>chat</title>
	<link href="css/global-style.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<style type="text/css">
		#googleMap{
			width: 100%;
			height: 500px;
		}
		.profile{
			margin-bottom: 15px;
		}
		.profile > img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: 8px;
		}
	</style>
</head>
<body>
<div class="wrap">
	<div class="inner">
		<div class="profile">
			<img src="http://graph.facebook.com/<%= user.id %>/picture?type=square">
			<span><%= user.displayName %>님 환영합니다!</span>
		</div>
		<button type="button" onclick="btnRandom()">랜덤 찾기</button>
		<button type="button" onclick="btnShowMap()">주변 검색</button>
		<button type="button" onclick="btnLogout()">로그아웃</button>
	</div>
</div>
<div class="modal" id="mapLayout">
	<div class="modal-inner">
		<div id="googleMap"></div>
	</div>
</div>
<!--script -->
<script src="js/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>
	var socket = io();
	var lat = "<%= lat %>";
	var lng = "<%= lng %>";
	var markers = [];
	var infowindow = new google.maps.InfoWindow();

	$(function(){
		$("#lat").val(lat);
		$("#lng").val(lng);
	});


	function btnRandom(){
		socket.emit("find_user", {id:"<%= user.id %>"});
	}

	function btnShowMap(){
		$('#mapLayout').css('display','table');
		socket.emit("join_map");
		deleteAllMarkers();
		if($("#googleMap").has("div").length == 0){
			initialize();
		}
	}

	//로그아웃
	function btnLogout(){
		socket.emit("logout", {id:"<%= user.id %>"});
		location.href = "/logout";
	}

	function initialize(){
		var mapOptions = {
			zoom : 16, //기본 확대율
			center : new google.maps.LatLng(lat, lng), // 지도 중앙 위치
			scrollwheel : true, //마우스 휠로 확대 축소 사용 여부
			mapTypeControl : false //맵 타입 컨트롤 사용 여부
		};
		map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

		google.maps.event.addListener(map, 'click', function( event ){
			console.log("map clicked !");
		});
		google.maps.event.addListener(map, 'dragend', function(){
			console.log("drag end !")
		});
}

	function getGeoLocation(obj){
		if("geolocation" in navigator){
			//console.log("지오로케이션 사용 가능");
			navigator.geolocation.getCurrentPosition(function(position) {
				lat = position.coords.latitude;
				lng = position.coords.longitude;
				$("#lat").val(lat);
				$("#lng").val(lng);
				initialize();
			}, function(error){
				alert("현재위치를 불러올 수 없습니다.");
				console.log(error);
			});
		}else{
			alert("현재위치를 불러올 수 없습니다.");
			//console.log("지오로케이션 사용 불가능");
		}
	}

	function deleteAllMarkers(){
		for (var key in markers) {
			markers[key].marker.setMap(null);
			google.maps.event.clearInstanceListeners(markers[key].marker);
		}
		markers = [];
	}

	function createMarker(lat, lng, id, html) {
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat, lng),
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP,
			icon: 'http://graph.facebook.com/'+id+'/picture?type=square'
		});
		google.maps.event.addListener(marker, 'click', function () {
			infowindow.setContent(html);
			infowindow.open(map, marker);
		});
		markers[id] = new Object();
		markers[id].marker = marker;
	}

	$(document).on("click", ".modal-inner", function(e){
		if( e.target !== this ) return;
		$(this).parent().hide();
		socket.emit("leave_map");
	});

	//사용자 리스트 가져오기
	socket.on('userlist',function(data){
		for(var i=0; i< data.users.length; i++){
			/*var infowindow = new google.maps.InfoWindow({
				content: '<div id="content"><div id="siteNotice"></div><div id="bodyContent">'+data.users[i].name+'</div></div>'
			});*/
			createMarker(data.users[i].lat, data.users[i].lng, data.users[i].id, '<div id="content"><div id="siteNotice"></div><div id="bodyContent">'+data.users[i].name+'</div></div>');
		}
	});

	//사용자 추가
	socket.on('res_add_user',function(data){
		createMarker(data.user.lat, data.user.lng, data.user.id, '<div id="content"><div id="siteNotice"></div><div id="bodyContent">'+data.user.name+'</div></div>');
	});

	//사용자 삭제
	socket.on('res_delete_user',function(data){
		markers[data.id].marker.setMap(null);
		google.maps.event.clearInstanceListeners(markers[data.id].marker);
		delete markers[data.id];
	});
</script>
</body>
</html>